/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 1440px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


main {
    display: flexbox;
}

a {
    color : black;
    text-decoration-line: none;
}

h1, h2 {
    font-size: 22px;
    /* line-height: 26px; */
    line-height: 1em;
}

h3 {
    font-size: 16px;
    line-height: 19px;
}

h4 {
    font-size: 18px;
    line-height: 21px;
}


h5 {
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 19px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    display: inline;
}

i {
    vertical-align: middle;
}


article {
    /* line-height: normal; */
}



/***** CSS récurants *****/

/* .wrap {
    display: flex;
    flex-wrap: wrap-reverse;
} */


.fs18_fw700_lh21 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}





/***** HEADER *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 16px ;
    justify-content: flex-end;
    height: 2em;
    font-weight: 400;
}

.menu {
    /* position: absolute; */
}

.menu_items {
    align-items: center;
    margin: 2em;
    padding-top: 1em;
    font-weight: 400;
}

.menu_link:hover {
    color: #0065FC;
    border-top: 3px solid var(--main-color);
}

.logo_booki_header {
    width: 61.09px;
    height: 19px;
}

/*** Formulaire et Filtre ***/

.formulaire_et_filtre {
    margin: 2em 0;
}

/*** Formulaire ***/

.formulaire{
    width: 40%;
}

.formulaire_et_filtre .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 2em 0;
    font-size: 18px;
    font-weight: 700;
    height: 3em;
}

label {
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

.fa-location-dot {
    color: black;
}

input {
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    padding-left: 1em;    
} 

form button {
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    margin: 0em;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    text-align: center;
    color: white;
}

.fa-magnifying-glass {
    display: none;
    color: white;
    font-size: 1em;
}


/***** FILTRE *****/

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em; 
}

.filter h3 {
    margin-right: 1vw;
}


.filter-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    gap: 1vw;
}

.filter-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
}

.filter button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 700;
    color: black;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    background-color: white;
    height: 3em;
    max-width: 10em;
    width: calc(100vw / 8);
    min-width: 9em; 
}

.filter-buttons:hover {
    background-color: #DEEBFF;
}

.filter-buttons i {
    color:var(--main-color);
    font-size: 1.2em;
    margin-right: 0.8vw;
}

.info {
    margin-top: 2em;
    margin-bottom: 3em;
}

.icon_info {
    font-family: 'Times New Roman';
    color: var(--main-color);
    border: 2px solid #F2F2F2;
    border-radius: 4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-right: 0.5vw;
}


/******************************** OTHERS *************************************/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: 2em 0em;
}

.hebergements-and-populaires section {
    height: 100%;
    padding: 1em 2em;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: calc(((100% / 3) * 2) - 1em);
}

.titre_hebergement {
    padding-bottom: 1em;
}

.hebergements_card_order {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    gap: 1em 1em;
}

.hebergements_card_order article {
    flex: auto;
    max-width: calc((100% / 2) - 1em);
    width: calc(12em + 1vw);
    min-width: calc((100% / 3) - 2em);
    height: 13em;
    text-align: left;
    background: #FFFFFF;
    border: 10em;
    border-radius: 20px;
    border-color: #FFFFFF;
    
}

.hebergements div article a{
    display: flex;
    flex-direction: column;
}

.hebergements div article a img {
    flex:auto;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 7.5em;
}

.hebergements_card_order article a div{
    padding-left: 1em;
    /* min-width: var(--mini_img_card_heb); */

    /* --mini_img_card_heb: calc(15em - (1vb + 1vi));  */
    /* --mini_img_card_heb: calc(12em + (1vb + 1vi));  */
    /* --mini_img_card_heb: 13em; */
}

.hebergements_card_order div .card-title{
    margin: 0.5em 0;
}

.hebergements_card_order div .card-subtitle{
    margin: 0em;
    margin-bottom: 0.3em ;
}

.hebergements_card_order article a div span {
    font-size: 0.8em;
}

.afficher_plus {
    font-weight: 700;
    font-size: 18px;
    margin: 2em 0 1em 0;
}


/****** Populaires ***********/

.populaires {
    width: calc((100% / 3) - 1em)  
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
}

.populaires-link {
    display: flex;
}

.populaires-cards .card {
    display: flex;
    margin: 1em 0;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards article a img {
    object-fit: cover;
}

.populaires-cards .card-title {
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3em;
}


/* Activités à Marseille  */

.activites {
    margin: 4em 0;
}

.activites h2 {
    margin-bottom: 1em;
}
.activites_card_order {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    width: 100%;
}

.card_activites {
    display: flex;
    flex-direction: column;
    /* width: 297.5px; */
    width: calc((100% / 4) - 1em );
    height: 440px;
    text-align: left;
    background: #FFFFFF;
    /* border: 10em; */
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    margin-bottom: 1em;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


/* Card/Title
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px; */

.card_activites_photo {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.card_activites_text {
    padding-left: 20px;
}



/***** FOOTER *****/


footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1em 2em;
    margin: 2em 0;
}

.footer_table {
    width: calc(100% / 3);
}












/* Le code ci-dessous correspond à la version responsive uniquement */


/* De 320 px à 1440 px + marge blanche */


/****** Media queries ***********/

/* Medium devices (tablets) [ less/equal than 1024px at 1440 px] */
@media (max-width: 1024px) {
   
    .formulaire{
        width: 60%;
    }
   
    .filter {
        flex-direction: column;
        align-items: start;
    }


    .filter button {
        font-size: 16px;
        height: 3em;
        width: calc(100vw /6);
    }




   
    .hebergements-and-populaires {
        flex-direction: column;
        /* margin: 0; */
    }

    .hebergements {
        width: 100%;
        margin: 0;
        padding: 0;
    }




    .hebergements div article a img {
        /* min-width: var(--mini_img_card_heb); */
            
        /* --mini_img_card_heb: calc(30vb - 3vi); */
    }












    .titre_hebergement {
        padding-bottom: 0.5em;
    }
    
    .populaires {
        width: 100% 
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }


    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones)[less than 768px at 320 px] */
@media (max-width: 767.98px) {
   

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h5 {
    /* line-height: 19px; */
}






p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

   
   
   
   
    .main-container {
        /* width: 100%; */
        /* max-width: 1440px; */
        padding: 0 0;
        /* margin-bottom: 0em; */
        /* box-sizing: border-box; */
    }
   
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo_booki_header {
        margin-bottom: 1em;
    }

    nav {
        /* display: flex; */
        /* flex-direction: row; */
        /* align-items: center; */
        /* top: 16px ; */
        /* justify-content: center; */
        /* height: 2em; */
        /* width: 50vw; */
        margin-bottom: 1em;
    }

    .menu {
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
        width: 50vw;
    }
    

    .menu_items {
        align-items: center;
        /* margin: 2em; */
        padding-bottom: 1em;
        margin-left: 0em;
        margin-right: 0em;   
        border-bottom: 2px solid var(--main-bg-color);
    }
    
    .menu_link:hover {
        color: #0065FC;
        border-bottom: 2px solid var(--main-color);
        border-top: 0px;
        /* width: 147px; */
        /* width: 50vw; */
        /* width: 100%; */
    }
 
    
    .formulaire_et_filtre {
        /* width: 100%; */
        /* margin: 0 5%; */
        margin: 0em 2em;
        /* padding: 5em 0em; */
    }


    
    /*** FORMULAIRE ***/


    .formulaire{
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        margin: auto;
        font-size: 18px;
        font-weight: 700;
        height: 50px
    }

    /* label {
        display: flex;
        align-items: center;
    } */

    /* .search_icon {
        border-radius: 15px 0px 0px 15px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 1em;
        padding-right: 1em;
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        height: 33px;
    } */

    /* .fa-location-dot {
        width: 14px;
        height: 18px;
        color: black;
    } */

    .fa-magnifying-glass {
        display: block;
        width: 14px;
        height: 18px;
        color: white;
    }

    form button span {
        display: none;
    }


    /* input {
        border: 1px solid #F2F2F2;
        font-size: 18px;
        font-weight: 700;
        height: 3,063em;
        height: 49px;
    }  */

    button {
        /* background-color: #0065FC; */
        border-radius: 15px;
        font-size: 18px;
        height: 49px;
        margin: 0em;
        padding-top: 0em;
        padding-left: 0.8em;
        padding-right: 1em;
    }

   
    /*** FILTER ***/



    .filter {
        width: 100%;
        display: flex;
        /* flex-wrap: nowrap; */
        flex-direction: column;
        align-items: start;
        /* flex-wrap: nowrap; */
        /* align-items: center; */
        margin-top: 1.5em; 
        /* padding: 0; */
        /* margin: 0; */
        gap: 0em;
    }
    
    .filter-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1em;
    }

    .filter-pair {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: center; */
        gap: 0em;
    }

    .filter button {
        font-size: 14px;
        /* line-height: 16px; */
        justify-content: left ;
        padding-left: 2em;
        height: 3.5em;     
        max-width: none;
        width: calc(50% - 0.5em );   
    }


    .card {
        width: 100%;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        
    }
   
    .hebergements {
        width: 100%;
        background-color: unset;
        /* padding: 0em; */
    }
    

    .hebergements_card_order article {
     
        max-width: 100%;
        min-width: 100%;

    }


    .hebergements div article a img {
        min-width: 100%;
    }

    .afficher_plus {
        padding-top: 0em;
        /* line-height: 0px; */
        /* font-weight: 700; */
        /* font-size: 18px; */
    }




    /* .titre_hebergement {
        padding-bottom: 1em;
    } */
    
    
    /* .hebergements_card_order {
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
    } */
    
    /* .card_hebergement {
        display: flex;
        flex-direction: column;
        width: 250.33px;
        height: 207.25px;
        text-align: left;
        background: #FFFFFF;
        border: 10em;
        border-radius: 20px;
        border-color: #FFFFFF;
        margin-bottom: 1em;
    } */



    .populaires {
        width: 100%;
    }
    
    .populaires-cards .card {
        width: 100%;
    }

    .populaires {
        /* padding: 0em; */
        border-radius: 0;
        width: 100%;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* flex-direction: column;  */
        /* justify-content: space-between; */
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: space-between; */
    }

    .populaires-link {
        display: flex;
        width: 100%;
        /* justify-content: space-between; */
        /* align-items: center; */
    }




    .activites {
        margin: 0% 5%;
    }

    .activites_card_order {
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
        /* width: 100%; */
    }
    
    .card_activites {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 440px;
        text-align: left;
        background: #FFFFFF;
        /* border: 10em; */
        border-radius: 20px;
        border: 2px solid var(--main-bg-color);
        margin-bottom: 2em;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    


    footer {
        flex-direction: column;    
    }

    .footer_table {
        width: 100%;
    }
}

/* Too Small devices [less than 320 px]*/
@media (max-width: 319.98px) {
    /* ... */
}   