/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* font-size: 1rem; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


/***** CSS récurants *****/

a {
    width: 100%;
    color : black;
    text-decoration-line: none;
}

h1, h2 {
    font-size: 22px;
    line-height: 1.2em;
}

h3 {
    font-size: 16px;
    line-height: 1.2em;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    line-height: 1.2em;
    list-style: none;
    padding: 0;
}

i {
    vertical-align: middle;
}

.fa-solid {
    color: var(--main-color);
}


/******* HTML *******/

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


/***** HEADER *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

header img {
    padding-top: 1em;
    width: 61.09px;
    height: 19px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 2em;
    font-weight: 400;
    margin-top: 3px;
}

header nav ul li a div {
    align-items: center;
    font-weight: 400;
    border-top: 3px solid transparent;
    margin: 0 2em;
    padding-top: 1em;
}

header nav ul li a div:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}


/******* MAIN *******/

main {
    display: flex;
    flex: auto;
    flex-direction: column;
}


/*** Formulaire et Filtre ***/

.formulaire_et_filtre {
    
}

/*** Formulaire ***/

.formulaire_et_filtre .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 2em;
}

.formulaire{
    margin: 1em 0;
}

form {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 1em 0;
    font-size: 18px;
    font-weight: 700;
    height: 3em;
    width: 33%;
}

label {
    display: flex;
    flex: initial;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    font-size: 1.1em;
    padding: 0 calc( 0.75em + 0.25vw)
}

.fa-location-dot {
    color: black;
}

.formulaire input {
    flex: auto;
    border: 1px solid var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    padding-left: calc( 0.25em + 0.75vw);   
    width: 100%;
} 

form button {
    flex: initial;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    height: 100%;
    padding: 0 calc( 0.25em + 0.75vw);
    align-items: center;
    text-align: center;
    color: white;
}

.fa-magnifying-glass {
    display: none;
    color: white;
}


/***** FILTRE *****/

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em; 
}

.filter h3 {
    margin-right: 0.5vw;
}


.filter-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    gap: 0.5vw;
}

.filter-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5vw;
}

.filter button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 700;
    color: black;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    height: 3em;
    max-width: 9.5em;
    width: calc(100vw / 9);
    min-width: 9em; 
}

.filter-buttons:hover {
    background-color: var(--filter-bg-color);
}

.filter-buttons i {
    color:var(--main-color);
    font-size: 1.2em;
    margin-right: calc(0.25em + 0.25vw);
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.info .icon {
    font-family: 'Times New Roman';
    color: var(--main-color);
    border: 2px solid var(--main-bg-color);
    border-radius: 4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-right: 0.5em;
}

.info p {
 margin-left: 0.5em;
}


/******* CARDS : HÉBERGEMENTS | POPULAIRES | ACTIVITÉS *******/

.section_title { /* h2 */
 margin-bottom: 1em;
}

article {
    display: flex;
    margin: 0;
    padding: 0;
}


/****** Hebergements & Populaires ********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    image-rendering: smooth;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: calc(0.75em + 0.75vw);
}

.hebergements-and-populaires aside {
    display: flex;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    flex:auto;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2em calc(0.5em + 0.5vw);
    
}

.hebergements-and-populaires .section_title {
    line-height: 0;
    margin-bottom: 2em;
} 

.hebergements-and-populaires a {
    display: flex;
}

.hebergements-and-populaires article {
    flex: auto;
}

.hebergements-and-populaires .order {
    display: flex;
    justify-content: space-between;
    gap: 1em calc(0.5em + 0.5vw);
}

.hebergements-and-populaires .card-content {
    padding-left: calc(0.5em + 0.5vw);
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-and-populaires .card-txt {
    display: flex;
    flex-direction: column;
}

.hebergements-and-populaires .card-title {
    line-height: 1.2em;
    margin: 0.4em 0;
}

.hebergements-and-populaires .card-subtitle {
    line-height:1em;
    margin: 0em 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements ***********/

.hebergements {
    justify-content: space-between;
    width: calc(((100% / 3) * 2) - 1em);
}

.hebergements .order {
    flex-wrap: wrap ;
}

.hebergements article {
   /* width: calc((100% / 3) - 2em); */

    /* OPTION */
    max-width: calc((100% / 2) - 0.5em);
    width: calc(12em + 1vw);
    min-width: calc((100% / 3) - 2em);
}

.hebergements a {
    flex-direction: column;
}

.hebergements img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 7em;
}

.hebergements .stars {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.show_more {
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 0;
}


/****** Populaires ********/

aside {
    width: calc((100% / 3) - 1em);
}

.populaires {
    width: 100%;
}

.populaires .section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .order {
    flex-direction: column;
}

.populaires-cards img {
    height: 8.5em;
    width: 7em;   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-rating {
    margin: 0em;
    margin-bottom: 0;
}


/***** Activités ******/

.activites {
    margin: 2em;
}

.activites .order {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin: 2em 0;
    gap: calc(0.5em + 0.5vw);
}

.activites .card {
    display: flex;
    flex-direction: column;
    width: calc((100% / 4) - (0.5em + 0.5vw));
    text-align: left;
    padding: 0; /* Delete default padding from .card */
}

.activites img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 25vw;
    max-height: 25em ;
}

.activites h3{
    line-height: 1em;
    padding-left: 1.5em;
}


/***** FOOTER *****/

footer {
    margin-bottom: 0em;
}

footer nav {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 1em 1.5em;
}

footer nav div {
    width: calc(100% / 3);
}

footer nav h3 {
    line-height: 0em;
    margin-bottom: 1.2em;
}

footer nav ul {
    padding: 0;
}

footer nav li {
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
}



/* Le code ci-dessous correspond à la version responsive uniquement */
/* De 320 px à 1440 px + marge blanche */

/****** Media queries ***********/

/* Medium devices (tablets) [768px at 1024px] */
@media (max-width: 1024px) {
           
    .main-container {
        padding: 0 calc( 1em + 3vw);
    }


    /*** FORMULAIRE & FILTRE [MEDIUM] ***/
    /*** FORMULAIRE [MEDIUM] ***/

    .formulaire form{
        width: 45%;
    }
   

    /*** FILTER [MEDIUM] ***/

    .filter {
        flex-direction: column;
        align-items: start;
        margin-top: 1em;
    }

    .filter button {
        font-size: 16px;
        width: calc(100vw /6);
    }
   
    .icon_info {
        margin-right: calc(0.5em + 0.5vw);
    }


    /*** HEBÉRGEMENTS & POPULAIRES [MEDIUM] ***/

    .hebergements-and-populaires {
        flex-direction: column;
        gap: calc(1.5em + 1vw);
    }
        
    .hebergements-and-populaires section {
        padding: 2em calc(0.5em + 1.5vw);
    }

    .hebergements-and-populaires .card-content {
        padding-left: calc(0.25em + 0.75vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements-and-populaires .card-title {
        font-size: 15px;
        line-height: 1.2em;
        margin: 0.5vw 0;
    }

    .hebergements-and-populaires .card-subtitle {
        font-size: 14px;
        line-height:1.2em;
        margin: 0.2vw 0;
    }


    /*** HEBERGEMENTS [MEDIUM] ***/

    .hebergements {
        width: 100%;
        margin: 0;
        padding: 0;
    }


    /*** POPULAIRES [MEDIUM] ***/

    aside {
        width: 100%;
    }

    .populaires {
        width: 100% 
    }

    .populaires .order {
        flex-direction: row;
    }

    .populaires-cards .card {
        width: calc(((100%) / 3) - 2vw);
    }

    .populaires-cards img {
        width: calc(4em + 2vw);   
    }


    /*** ACTIVITÉS [MEDIUM] ***/

    .activites {
        margin: 0 2.5vw;
    }
    
    .activites .card {
        width: calc((100% / 4) - (0.5em + 0.5vw) );
    }
    
    .activites img {
        height: 20vw;
    }
    
    .activites h3{
        line-height: 1em;
        padding-left: 1.5em;
    }


    /*** FOOTER [MEDIUM] ***/
}


/* Small devices (phones) [320px at 768px] */
@media (max-width: 767.98px) {

    /*** GÉNÉRAL [SMALL] ***/

    *{
        font-size: 1rem; /* for old brothers */
        font-size: clamp(1rem, 4.3vw , 4.3vmin);
    }

    h1, h2 {
        font-size: 1.375rem; /* for old brothers */
        font-size: clamp(1.375rem, 5.9vw, 5.9vmin);
        
    }

    h3 {
        font-size: 1rem; /* for old brothers */
        font-size: clamp(1rem, 4.7vw, 4.7vmin);
    }

    p {
        font-size: 4.3vmin; /* for old brothers */
        font-size: clamp(1rem, 4.3vw, 4.3vmin);
    }

    .main-container {
        padding: 0;
    }


    /***  HEADER & MENU [SMALL] ***/  

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vmin 0;
    }

    .logo_booki_header {
        height: 5.2vmin;
        width: unset;
        padding: 0;
        margin: 6vmin 0;
    }

    header nav ul {
        height: 2vmin;
        margin: 6vmin 0;
    }

    header nav ul li {
        font-size: 1rem;  /* for old brothers */
        font-size: clamp(1rem, 4.2vw, 4.2vmin);
        text-align: center;
        width: 50vw;
    }
    
    header nav ul li a div {
        align-items: center;
        padding: 0;
        padding-bottom: 4vmin;
        margin-left: 0em;
        margin-right: 0em;   
        margin: 0;
        border-bottom: 0.7vmin solid var(--main-bg-color);
        border-top: 0px;
    }
    
    header nav ul li a div:hover {
        color: #0065FC;
        border-bottom: 0.7vmin solid var(--main-color);
        border-top: 0px;
    }


    /*** FORMULAIRE & FILTRE [SMALL] ***/

    .formulaire_et_filtre {
         margin: 0em 5vw;
    }

    
    /*** FORMULAIRE [SMALL] ***/

    .formulaire{
        margin: 2vw 0;
    }

    .formulaire_et_filtre .subtitle {
        font-size: 1rem;  /* for old brothers */
        font-size: clamp(1rem, 4.2vw, 4.2vmin);
        margin-bottom: 10vmin;
    }
    
    .formulaire form {
        width: 100%;
        height: 13vmin;
        margin: 4vmin 0;
    }

    label {
        border: 0.5vmin solid var(--main-bg-color);
        border-top-left-radius: 4vmin;
        border-bottom-left-radius: 4vmin;
        font-size: 1.125rem;  /* for old brothers */
        font-size: clamp(1.125rem, 4.8vw, 4.8vmin);
        padding: 0 4.5vmin;
    }
 
    form button span {
        display: none;
    }


    .formulaire input {
        flex: auto;
        border: 0.5vmin solid var(--main-bg-color);
        font-size: 1.125rem;  /* for old brothers */
        font-size: clamp(1.125rem, 4.8vw, 4.8vmin);
        font-weight: 700;
        height: 100%;
        padding-left: 4vmin;   
        width: 100%;
    } 

    .fa-magnifying-glass {
        display: block;
    }

    form button {
        border: 0.5vmin solid var(--main-bg-color);
        border-radius: 4vmin;
        font-size: 1.125rem;  /* for old brothers */
        font-size: clamp(1.12rem, 4.8vw, 4.8vmin);
        margin: 0;
        margin-left: -8vmin;
        padding: 0 4vmin;
    }

   
    /*** FILTER [SMALL] ***/

    .filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 0; 
    }
    
    .filter-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 4vmin;
    }

    .filter-pair {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2vmin;
    }

    .filter button {
        font-size: 0.9rem;  /* for old brothers */
        font-size: clamp(0.9rem, 3.8vw, 3.8vmin);
        justify-content: center ;
        border: 0.6vmin solid var(--main-bg-color);
        border-radius: 7vmin;
        padding-left: 2vmin;
        height: 13vmin;   
        width: calc(50% - 2vmin );  
        max-width: none; 
        gap: clamp(10px, 2vw, 2vmin);
    }

    .filter-buttons i {
        color:var(--main-color);
        font-size: 1rem;  /* for old brothers */
        font-size: clamp(1rem, 6vw, 6vmin);
        margin-right: 0.8vmin;
    }

    .info {
        margin-top: 4vmin;
        margin-bottom: 4vmin;
    }

    .info .icon {
        font-family: 'Times New Roman';
        font-size: 1rem; /* for old brothers */
        font-size: clamp(1em, 4.2vw, 4.2vmin);
        font-weight: 400;
        color: var(--main-color);
        border: 0.5vmin solid var(--main-bg-color);
        border-radius: 4vmin;
        padding-left: 2.2vmin;
        padding-right: 2.2vmin;
        padding-top: 0.2vmin;
        padding-bottom: 0.2vmin;
        margin-right: 1vmin;
    }

    .info p {
        margin-left: 2vmin;
    }


    /*** HEBÉRGEMENT & POPULAIRES [SMALL] ***/

    .card {
        background-color: white;
        border-radius: 4.6vmin;
        padding: 1.3vmin;
        box-sizing: border-box;
        filter: drop-shadow(0px 2vmin 4vmin rgba(0, 0, 0, 0.1));
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0;
        padding: 0;
        margin: 0;
    }
   
    .hebergements-and-populaires .order{
        gap: 4vmin;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 8vmin 5vmin;

    }

    .hebergements-and-populaires .section_title {
        line-height: 1.2em;
        margin-bottom: 8vmin;
    } 

    .hebergements-and-populaires .card-content {
        margin-top: 2vmin;
        padding-left: 4.2vmin;
    }
    

    .hebergements-and-populaires .card-title {
        font-size: 1rem;  /* for old brothers */
        font-size: clamp(1rem, 4.3vw, 4.3vmin);
        margin: 2vmin 0;
    }

    .hebergements-and-populaires .card-subtitle {
        font-size: 0.9rem;  /* for old brothers */
        font-size: clamp(0.9rem, 3.8vw, 3.8vmin);
        line-height: 5vmin;
    }


    /*** HEBERGEMENT [SMALL] ***/

    .hebergements-and-populaires .hebergements{
        background-color: white;

    }

    .hebergements article {
        min-width: 100%;
    }

    .hebergements img {
        border-top-left-radius: 4.6vmin;
        border-top-right-radius: 4.6vmin;
        height: 30vmin;
    }
    
    .hebergements .stars {
        font-size: 0.9rem;  /* for old brothers */
        font-size: clamp(0.9rem, 3.5vw, 3.5vmin);
        margin-top: 2vmin;
        margin-bottom: 2vmin;
    }
   
    .show_more {
        font-size: 1.125rem;  /* for old brothers */
        font-size: clamp(1.125rem, 4.7vw, 4.7vmin);
        margin: 4vmin 0;
    }
 
        
    /*** POPULAIRES [SMALL] ***/

    .populaires {
        border-radius: 0;
        width: 100% 
    }
    
    .populaires .section_title {
        margin-bottom: 2vmin;
    }

    .fa-chart-line {
        font-size: 1.1rem;  /* for old brothers */
        font-size: clamp(1.1rem, 4.5vw, 4.5vmin);
    }

    .populaires .order {
        flex-direction: column;
    }

    .populaires-cards img {
        border-top-left-radius: 4.6vmin;
        border-bottom-left-radius: 4.6vmin;
        width: 28vmin;
        height: 36vw;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-rating {
        display: flex;
        gap: 1vmin;
    }

    .fa-xs {
        font-size: 0.8rem; /* for old brothers */
        font-size: clamp(0.8rem, 3.2vw, 3.2vmin);
        line-height: calc(1em + 3vmin);
    }


    /*** ACTIVITÉS [SMALL] ***/ 

    .activites {
        margin: 0 8vmin;
        margin-bottom: 12vmin;
    }

    .activites .order {
        display: flex;
        gap: 4vmin;
        margin: 2vmin;
    }
    
    .activites .card{
        width: 100%;
    }
    
    .activites img {
        border-top-left-radius: 4.6vmin;
        border-top-right-radius: 4.6vmin;
        height: 37vmin;
    }

    .activites h2 {
        padding-bottom: 4vmin;   
    }


    /*** FOOTER [SMALL] ***/ 

    footer nav {
        flex-direction: column;
        border-radius: 0px;    
        padding: 2vmin 8vmin;
    }

    footer nav div {
        width: 100%;
        padding: 2vmin 0;
        margin-bottom: 2vmin;
    }

    footer nav h3 {
        margin-bottom: 6vmin;
    }

    footer nav ul {
        margin: 0;
    }

    footer nav li {
        font-size: 1.1rem; /* for old brothers */
        font-size: clamp(1.1rem, 4.3vw, 4.3vmin);
    }
}
