/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


/***** CSS récurants *****/

a {
    width: 100%;
    color : black;
    text-decoration-line: none;
}

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    line-height: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

i {
    vertical-align: middle;
}

.fa-solid {
    color: var(--main-color);
}


/******* HTML *******/

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


/***** HEADER *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

header img {
    padding-top: 1em;
    width: 61.09px;
    height: 19px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 2em;
    font-weight: 400;
    margin-top: 3px;
}

header nav ul li a div {
    align-items: center;
    font-weight: 400;
    border-top: 3px solid transparent;
    margin: 0 2em;
    padding-top: 1em;
}

header nav ul li a div:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}


/******* MAIN *******/

main {
    display: flex;
    flex: auto;
    flex-direction: column;
}


/*** Formulaire et Filtre ***/

.formulaire_et_filtre {
    /* margin: 2em 0; */
}

/*** Formulaire ***/

.formulaire_et_filtre .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 2em;
}

.formulaire{
    margin: 1em 0;
}

form {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 2em 0;
    font-size: 18px;
    font-weight: 700;
    height: 3em;
    width: 33%;
}

label {
    display: flex;
    flex: initial;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    font-size: 1.2em;
    padding: 0 calc( 0.5em + 0.5vw);
}

.fa-location-dot {
    color: black;
}

.formulaire input {
    flex: auto;
    border: 1px solid var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    padding-left: 1em;   
    width: 100%;
} 

form button {
    flex: initial;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    padding: 0 calc( 0.5em + 0.5vw);
    align-items: center;
    text-align: center;
    color: white;
}

.fa-magnifying-glass {
    display: none;
    color: white;
    font-size: 1em;
}


/***** FILTRE *****/

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em; 
}

.filter h3 {
    margin-right: 1vw;
}


.filter-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    gap: 1vw;
}

.filter-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
}

.filter button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 700;
    color: black;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    height: 3em;
    max-width: 10em;
    width: calc(100vw / 8);
    min-width: 9em; 
}

.filter-buttons:hover {
    background-color: var(--filter-bg-color);
}

.filter-buttons i {
    color:var(--main-color);
    font-size: 1.2em;
    margin-right: 0.8vw;
}

.info {
    margin-top: 2em;
    margin-bottom: 3em;
}

.icon_info {
    font-family: 'Times New Roman';
    color: var(--main-color);
    border: 2px solid var(--main-bg-color);
    border-radius: 4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-right: 1em;
    /* margin-right: 0.5vw; */
}


/******* CARDS : HÉBERGEMENTS | POPULAIRES | ACTIVITÉS *******/

.section_title { /* h2 */
 margin-bottom: 1em;
}

article {
    display: flex;
    /* flex: auto; */
    margin: 0;
    padding: 0;
}

/****** Hebergements & Populaires ********/

.card {
    /* display: flex; */
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    image-rendering: smooth;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: calc( 1em + 1vw);
}

.hebergements-and-populaires aside {
    display: flex;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    flex:auto;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2em calc(0.5em + 1vw);
    
}

.hebergements-and-populaires .section_title {
    line-height: 0;
    margin-bottom: 2em;
} 


.hebergements-and-populaires a {
    display: flex;
}

.hebergements-and-populaires article {
    flex: auto;
}

.hebergements-and-populaires .order {
    display: flex;
    justify-content: space-between;
    gap: 1em calc(0.5em + 0.5vw);
}

.hebergements-and-populaires img {
    /* flex: auto; */
}

.hebergements-and-populaires .card-content {
    padding-left: calc(0.5em + 0.5vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-and-populaires .card-txt {

}

.hebergements-and-populaires .card-title {
    /* margin-bottom: 0em; */
}

.hebergements-and-populaires .card-subtitle {
    margin: 0em;
    margin-bottom: 0.2em ;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements ***********/

.hebergements {
    justify-content: space-between;
    width: calc(((100% / 3) * 2) - 1em);
}

.hebergements .order {
    flex-wrap: wrap ;
}

.hebergements article {
    max-width: calc((100% / 2) - 0.5em);
    width: calc(12em + 1vw);
    min-width: calc((100% / 3) - 2em);
    height: 12.6em;
}

.hebergements a {
    flex-direction: column;
}

.hebergements img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 7em;
}

.hebergements .stars {
    font-size: 0.8em;
}

.show_more {
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 0;
}


/****** Populaires ********/

.populaires {
    width: calc((100% / 3) - 1em);
}

.populaires .section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .order {
    flex-direction: column;
}

.populaires-cards img {
    /* height: calc(8em + 1vw); */
    height: 8.5em;
    /* width: calc(5em + 1vw);  */
    width: 7em;   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3em;
    /* margin-bottom: 0.3vw; */
}


/***** Activités ******/

.activites {
    margin: 2em;
}

.activites .order {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    /* width: 100%; */
    margin: 2em 0;
}

.activites .card {
    display: flex;
    flex-direction: column;
    width: calc((100% / 4) - 1em );
    height: 440px;
    text-align: left;
    padding: 0; /* Delete default padding from .card */
}

.activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activites h3{
    padding-left: 1.5em;
}


/***** FOOTER *****/

footer {
    margin-bottom: 0em;
}

footer nav {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 1em 1.5em;
}

footer nav div {
    width: calc(100% / 3);
}

footer nav h3 {
    margin-bottom: 1.2em;
}

footer nav ul {
    padding: 0;
}

footer nav li {
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
}



/* Le code ci-dessous correspond à la version responsive uniquement */
/* De 320 px à 1440 px + marge blanche */

/****** Media queries ***********/

/* Medium devices (tablets) [768px at 1024px] */
@media (max-width: 1024px) {
   
    /***  HEADER & MENU [MEDIUM] ***/


    /*** FORMULAIRE & FILTRE [MEDIUM] ***/

    /*** FORMULAIRE [MEDIUM] ***/

    .formulaire form{
        width: 45%;
    }
   

    /*** FILTER [MEDIUM] ***/

    .filter {
        flex-direction: column;
        align-items: start;
    }

    .filter button {
        font-size: 16px;
        height: 3em;
        width: calc(100vw /6);
    }
   

    /*** HEBÉRGEMENTS & POPULAIRES [MEDIUM] ***/

    .hebergements-and-populaires {
        flex-direction: column;
    }


    /*** HEBERGEMENTS [MEDIUM] ***/

    .hebergements {
        width: 100%;
        margin: 0;
        padding: 0;
    }


     /*** POPULAIRES [MEDIUM] ***/

    .populaires {
        width: 100% 
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: calc(((100%) / 3) - 2vw);
       
    }

    .populaires-cards img {
        width: calc(4em + 1vw);   
    }

    .populaires-cards .card-title {
        font-size: 14px;
        margin-top: 0.3vw;
        margin-bottom: 0.2vw;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        margin: 0;
        margin-bottom: 0.2vw;
    }


    /*** ACTIVITÉS [MEDIUM] ***/

    /*** FOOTER [MEDIUM] ***/

}


/* Small devices (phones) [320px at 768px] */
@media (max-width: 767.98px) {

    /*** GÉNÉRAL [SMALL] ***/

    p {
        font-size: 14px;
    }

    .main-container {
        padding: 0;
    }

    /***  HEADER & MENU [SMALL] ***/  

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
    }

    .logo_booki_header {
        margin-bottom: 1em;
    }

    header nav ul {
        margin-bottom: 2em;
    }

    header nav ul li {
        text-align: center;
        width: 50vw;
    }
    
    header nav ul li a div {
        align-items: center;
        padding-bottom: 1em;
        margin-left: 0em;
        margin-right: 0em;   
        border-bottom: 2px solid var(--main-bg-color);
    }
    
    header nav ul li a div:hover {
        color: #0065FC;
        border-bottom: 2px solid var(--main-color);
        border-top: 0px;
    }


    /*** FORMULAIRE & FILTRE [SMALL] ***/

    .formulaire_et_filtre {
         margin: 0em 2em;
    }

    
    /*** FORMULAIRE [SMALL] ***/

    .formulaire form {
        font-size: 16px;
        width: 100%;
        height: 3em
    }

    label {
        font-size: 1.2em;
        padding: 0 0.8em;
    }
 
    form button span {
        display: none;
    }

    .fa-magnifying-glass {
        display: block;
    }

   form button {
        border-radius: 15px;
        font-size: 1.1em;
        margin: 0em;
        margin-left: -2em;
        padding: 0 0.8em;
    }

   
    /*** FILTER [SMALL] ***/

    .filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 1.5em; 
    }
    
    .filter-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: calc(0.3em + 1vw);
    }

    .filter-pair {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1vw;
    }

    .filter button {
        font-size: 14px;
        justify-content: center ;
        padding-left: 2vw;
        height: 3.5em;     
        min-width: 40%;
        width: calc(50% - 0.3em );  
        max-width: 55%; 
        gap: 1vw;
    }


    /*** HEBÉRGEMENT & POPULAIRES [SMALL] ***/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }
   
    .hebergements-and-populaires section {
        padding: 1em 1em;
    }



    /*** HEBERGEMENT [SMALL] ***/

    .hebergements {
        background-color: white;
    }
    
    .hebergements_card_order article {
        min-width: 100%;
    }

    .afficher_plus {
        line-height: 0px;
    }
   
        
    /*** POPULAIRES [SMALL] ***/

    .populaires {
        border-radius: 0;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

    /*** ACTIVITÉS [SMALL] ***/ 

    .activites {
        margin: 0% 5%;
    }

    .activites_card_order {
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
    }
    
    .card_activites {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 440px;
        text-align: left;
        background: #FFFFFF;
        /* border: 10em; */
        border-radius: 20px;
        border: 2px solid var(--main-bg-color);
        margin-bottom: 2em;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .activites h2 {
        margin-bottom: 2em;
    }


    /*** FOOTER [SMALL] ***/ 

    footer {
        flex-direction: column;
        border-radius: 0px;    
    }
  
}
